:root {
    --background: #fff;
    --text: #000;
    --dim-text: rgba(0, 0, 0, .5);
    --gray: lightgrey;
    --red: red;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1c1c1c;
        --text: #ddd;
        --dim-text: rgba(221, 221, 221, .5);
        --gray: dimgray;
        --red: #ff4141;
    }
}

body {
    margin: 0;
    padding: 1rem;
    height: 100vh;
    box-sizing: border-box;

    overflow: hidden;

    background: var(--background);
    color: var(--text);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content min-content 1fr;
}

body .input-section:first-of-type,
body .entries {
    grid-column: 1/3;
}

.generate-section {
    display: flex;
    justify-content: flex-end;
}

.suffix-json {
    position: relative;
    display: inline-block;
}

.suffix-json:after {
    content: '.json';

    position: absolute;
    top: 2px;
    right: .5em;

    color: #000;

    opacity: .5;
}

.suffix-json input {
    padding-right: 4em;
}

.input-section {
    margin-bottom: 1em;
}

.tab {
    margin-right: 1em;
}

.row-direction {
    display: flex;
    flex-direction: row;
}

.full-border {
    border: 1px solid var(--gray);
    padding: .5em;
}

.center-inner > * {
    display: flex;
    align-items: center;
}

.set-left {
    margin-left: auto;
}

.entries {
    overflow-y: auto;
}

.entries table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid var(--gray);
}

td {
    max-width: 10em;
}

tr td:last-child {
    width: 1%;
    white-space: nowrap;
}

td.loading {
    background: url('/img/loading-black.svg') center left / 1em no-repeat;
}

@media (prefers-color-scheme: dark) {
    td.loading {
        background-image: url('/img/loading-white.svg');
    }
}

.entries thead th {
    position: sticky;
    top: 0;

    text-align: left;

    background: var(--background);

    z-index: 1;
}

.entries thead th.sortable:after {
    content: '';

    position: absolute;
    top: 0;
    right: .2rem;
    height: 100%;
    width: 1em;

    background: url('/img/arrows-black.svg') center no-repeat;

    opacity: .7;
}

.entries thead th.sortable.sorted:after {
    background-image: url('/img/arrows-single-black.svg');
    transform: rotate(180deg);
}

.entries thead th.sortable.sorted.reversed:after {
    transform: rotate(0deg);
}

@media (prefers-color-scheme: dark) {
    .entries thead th.sortable:after {
        background-image: url('/img/arrows-white.svg');
    }

    .entries thead th.sortable.sorted:after {
        background-image: url('/img/arrows-single-white.svg');
    }
}

.entries tr.hidden {
    color: var(--dim-text);
}

.error {
    color: var(--red);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    background: rgba(0, 0, 0, .5);

    z-index: 10;
}

.bibliography-wrapper {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    height: 100vh;
    width: 100vw;
    max-height: 100rem;
    max-width: 40em;

    background: var(--background);
    padding: 2em;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
}

.bibliography-wrapper button:first-of-type {
    justify-self: left;
}

.bibliography-wrapper button:last-of-type {
    justify-self: right;
}

.bibliography-wrapper .bibliography {
    grid-column: 1/3;

    --indent: 2em;
    padding-left: var(--indent);
    text-indent: calc(var(--indent) * -1);
    margin: .2em 0;
}

.bibliography-wrapper .bibliography:first-of-type {
    margin-top: 1em;
}
